<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragenerstellung</title>
    <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet"
          th:href="@{css/bootstrap.min.css}">
    <style>
        td, th {
        text-align: center;
        vertical-align: middle;
        }
    </style>
</head>
<body>
<div class="container pt-3">
    <h1 class="text-center">Fragenerstellung</h1>

    <form method="post" action="/testerstellung/fragenerstellung/speichern" th:object="${frageForm}">
        <div>
            <label class="form-label" for="questionType">Fragentyp</label>
            <select class="form-control"  id="questionType" th:field="*{fragentyp}" th:remove="all-but-first">
                <option th:each="typ : ${T(com.example.exambyte.data.FRAGENTYP).values()}"
                th:value="${typ}" th:text="${typ.getTitle()}"></option>
                <option value="multipleChoice">Multiple Choice</option>
                <option value="freitext">Freitext</option>
            </select>
        </div>
        <div>
            <label class="form-label" for="questionName">Name der Frage</label>
            <input class="form-control"  type="text" id="questionName" required th:field="*{name}">
        </div>
        <div>
            <label class="form-label" for="questionText">Fragetext</label>
            <textarea class="form-control"  id="questionText" rows="4" cols="50" required
                      th:field="*{fragestellung}"></textarea>
        </div>

        <div id="multipleChoiceOptions" style="display: table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Antwortmöglichkeiten</th>
                        <th>Richtig</th>
                        <th>Entfernen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <label for="antwort1" aria-label="Antwortmöglichkeit 1"></label>
                            <input class="form-control" type="text" id="antwort1" placeholder="Antwortmöglichkeit 1"
                                   required th:field="*{antwortmoeglichkeiten}"><br>
                        </th>
                        <th>
                            <label for="antwort1correct" aria-label="Antwortmöglichkeit korrekt"></label>
                            <input class="" type="checkbox" id="antwort1correct" name="frage" value="antwort1">
                        </th>
                        <th>
                            <button class="btn btn-secondary" >Entfernen</button>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

        <button class="btn btn-primary" type="submit">Frage speichern</button>
    </form>

    <a href="/testerstellung">Zurück zur Testübersicht</a>
</div>
</body>
</html>
