<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragenuebersicht</title>
</head>
<body>
<div>
    <h1>
        Test ...
    </h1>
    <p>Der Test lässt sich noch bis zum DD.MM.YYYY bearbeiten.</p>
    <div>
        <table>
            <thead>
            <tr>
                <th>Frage</th>
                <th>Fragenart</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th><a href="/woche1/frage1">Frage 1</a></th>
                <th>Freitext</th>
                <th>In bearbeitung</th>
            </tr>
            <tr>
                <th><a href="/woche1/frage2">Frage 2</a></th>
                <th>Multiple Choice</th>
                <th>In bearbeitung</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>