<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragenuebersicht</title>
    <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet"
          th:href="@{/css/bootstrap/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 th:text="${test.name}">Test...</h1>
            <p th:text="${test.getEndTime}">Der Test lässt sich noch bis zum DD.MM.YYYY bearbeiten.</p>
            <div class="text-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Frage</th>
                        <th>Fragenart</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                    <tr th:each="frageAusList : ${test.getFrageList()}">
                        <th><a th:href="@{/ExamByte/{name}/{frageAusListName}(name=${test.name}, frageAusListName=${frageAusList.name})}" th:text="${frageAusList.name}">Frage 1</a></th>
                        <th th:text="${frageAusList.fragentyp().getTitle()}">Freitext</th>
                        <th>In bearbeitung</th>
                    </tr>
                    <tr>
                        <th><a href="/woche1/frage2">Frage 2</a></th>
                        <th>Multiple Choice</th>
                        <th>In bearbeitung</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col">
            <div th:if="${frage.fragentyp().getTitle()} == 'Freitext'">
                <h1 th:text="${frage.name} ?: 'Keine Daten Vorhanden!'">Fragenname(Frage 1)</h1>
                <p th:text="${frage.fragestellung} ?: 'Keine Daten Vorhanden!'">Hier sollte die Frage stehen</p>
                <p th:text="'Mögliche Punktzahl: ' + ${frage.maxPunktzahl} ?: 'Keine Daten Vorhanden!'">Mögliche Punkte 10</p>
                <form>
                    <label for="antwort">Antwort:</label><br>
                    <textarea id="antwort" name="antwort" rows="4" cols="50" placeholder="Deine Antwort hier eingeben"></textarea>
                    <input type="submit" value="Antworten">
                </form>
            </div>
        </div>
        <div class="col">
            <div th:if="${frage.fragentyp().getTitle()} == 'Multiple Choice'">
                <h1 th:text="${frage.name} ?: 'Keine Daten Vorhanden!'">Fragenname(Frage 1)</h1>
                <p th:text="${frage.fragestellung} ?: 'Keine Daten Vorhanden!'">Hier sollte die Frage stehen</p>
                <p th:text="'Mögliche Punktzahl: ' + ${frage.maxPunktzahl} ?: 'Keine Daten Vorhanden!'">Mögliche Punkte 4</p>
                <form>  <!--anstelle von multiple choice single choice benötigt type="radio" -->
                    <div th:each="antwort : ${frage.antwort()}">
                        <label th:text="${antwort.text()}" for="antwort1">antwort1</label>
                        <input type="checkbox" id="antwort1" name="frage" value="antwort1">
                        <br>
                    </div>
                    <input type="submit" value="Antworten">
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <a th:href="@{/ExamByte/{name}/{prevFrage}(name=${test.name}, prevFrage=${test.getPrevFrage(frage.name()).name()})}">Vorherige Frage</a>
            <a href="/ExamByte">Startseite</a>
            <a th:href="@{/ExamByte/{name}/{nextFrage}(name=${test.name}, nextFrage=${test.getNextFrage(frage.name()).name()})}">Nächste Frage</a>
        </div>
    </div>
</div>
</body>
</html>