<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragenerstellung</title>
    <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet"
          th:href="@{/css/bootstrap/bootstrap.min.css}">
    <style>
        td, th {
        text-align: center;
        vertical-align: middle;
        }
    </style>
</head>
<body>
<div class="container pt-3">
    <h1 class="text-center">Fragenerstellung</h1>

    <form method="post" th:action="@{/ExamByte/{testname}/fragenerstellung(testname=${test.name})}" th:object="${frageForm}">
        <div>
            <label class="form-label" for="questionType">Fragentyp</label>
            <select class="form-control"  id="questionType" th:field="*{fragentyp}" th:remove="all-but-first" onchange="antwortmoeglichkeitenAnzeigen()">
                <option th:each="typ : ${T(com.example.exambyte.data.FRAGENTYP).values()}"
                th:value="${typ}" th:text="${typ.getTitle()}"></option>
                <option value="multipleChoice" id="multipleChoice">Multiple Choice</option>
                <option value="freitext" id="freitext">Freitext</option>
            </select>
        </div>

        <div>
            <label class="form-label" for="questionName">Name der Frage</label>
            <input class="form-control"  type="text" id="questionName" th:field="*{name}">
            <small class="text-danger"
                   th:if="${#fields.hasErrors('name')}"
                   th:errors="*{name}">Name Error</small>
        </div>
        <div>
            <label class="form-label" for="questionText">Fragetext</label>
            <textarea class="form-control"  id="questionText" rows="4" cols="50"
                      th:field="*{fragestellung}"></textarea>
            <small class="text-danger"
                   th:if="${#fields.hasErrors('fragestellung')}"
                   th:errors="*{fragestellung}">TextField Error</small>
        </div>
        <div>
            <label for="maxPunktzahl">Punktzahl:</label><br>
            <input type="number" id="maxPunktzahl" name="maxPunktzahl"
                   th:field="*{maxPunktzahl}"><br>
            <small class="text-danger"
                   th:if="${#fields.hasErrors('maxPunktzahl')}"
                   th:errors="*{maxPunktzahl}">maxPunktzahl Error</small>

        </div>
        <div id="multipleChoiceOptions" style="display: none">
            <table class="table" id="optionsTable">
                <thead>
                    <tr>
                        <th>Antwortmöglichkeiten</th>
                        <th>Richtig</th>
                        <th>Entfernen</th>
                    </tr>
                </thead>
                <tbody>

                    <tr th:each="antwort, itemStat : *{antwortMoeglichkeiten}">
                        <td>
                            <label for="antwort1" aria-label="Antwortmöglichkeit 1"></label>
                            <input class="form-control" type="text" id="antwort1" th:name="|antwortMoeglichkeiten[${itemStat.index}].text|" th:value="${antwort.text}" placeholder="Antwortmöglichkeit">
                        </td>
                        <td>
                            <label for="antwort1correct" aria-label="Antwortmöglichkeit korrekt"></label>
                            <input class="" type="checkbox" id="antwort1correct" name="frage" th:checked="${antwort.istWahr()}">
                        </td>
                        <td>
                            <button type="button" class="btn btn-secondary remove-btn" onclick="antwortmoeglichkeitenEntfernen(this)">Entfernen</button>
                        </td>
                    </tr>

                </tbody>
            </table>
            <button type="button" id="addOptionButton" class="btn btn-success" onclick="antwortmoeglichkeitenHinzufuegen()">Option hinzufügen</button>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Frage speichern</button>
        </div>
    </form>
    <a th:unless="${test.getFragen().isEmpty()}"
       th:href="@{/ExamByte/{testname}/{fragenname}(testname=${test.name}, fragenname=${test.getFragen().getFirst().name})}">Zurück zur Testübersicht</a>
    <a th:if="${test.getFragen().isEmpty()}"
       th:href="@{/ExamByte/{testname}(testname=${test.name})}">Zurück zur Testübersicht</a>
</div>
</body>
<script>
    function antwortmoeglichkeitenAnzeigen() {
        const antwortmoeglichkeiten = document.getElementById("questionType").value;
        const multipleChoiceBereich = document.getElementById("multipleChoiceOptions");

        if (antwortmoeglichkeiten === `FRAGENTYP_FREITEXT`) {
            multipleChoiceBereich.style.display = "none";
        } else if (antwortmoeglichkeiten === `FRAGENTYP_MULTIPLECHOICE`){
            multipleChoiceBereich.style.display = "table";
        }
    }
    let counter = 0;
    function antwortmoeglichkeitenHinzufuegen() {
        const tabelle = document.getElementById("optionsTable").getElementsByTagName("tbody")[0];
        const neueReihe = document.createElement("tr");

        neueReihe.innerHTML = `
        <td><input class="form-control" type="text" name="antwortMoeglichkeiten[${counter}].text" placeholder="Antwortmöglichkeit"></td>
        <td><input type="checkbox" name="antwortMoeglichkeiten[${counter}].istWahr"></td>
        <td><button type="button" class="btn btn-secondary remove-btn" onclick="antwortmoeglichkeitenEntfernen(this)">Entfernen</button></td>
    `;
        counter++;
        tabelle.appendChild(neueReihe);
    }

    function antwortmoeglichkeitenEntfernen(button) {
        const reihe = button.closest("tr");
        reihe.remove();
        counterReparieren();
    }

    function counterReparieren() {
        const reihen = document.querySelectorAll("#optionsTable tbody tr");
        reihen.forEach((reihe, i) => {
            const text = reihe.querySelector("input[type='text']");
            text.name = `antwortMoeglichkeiten[${i}].text`;
            text.id = `antwort${i}`;

            const checkbox = reihe.querySelector("input[type='checkbox']");
            checkbox.name = `antwortMoeglichkeiten[${i}].istWahr`;
            checkbox.id = `antwort${i}correct`;
        });
        counter = reihen.length;
    }
</script>
</html>