<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Testerstellung</title>
  <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet"
        th:href="@{css/bootstrap/bootstrap.min.css}">
</head>
<body>
<h1 class="text-center">Erstellung eines neuen Tests</h1>
<div class="container">
  <div class="row">
    <div class="col">
        <form method="post" action="/ExamByte/testerstellung" th:object="${testForm}">
          <div>
            <label for="name">Name</label>
            <input type="text" id="name" required th:field="*{name}">
          </div>
          <div>
            <label for="anfangsZeit">Beginn</label>
            <input type="datetime-local" id="anfangsZeit" required th:field="*{startDate}">
          </div>
          <div>
            <label for="endZeit">Ende</label>
            <input type="datetime-local" id="endZeit" required th:field="*{endDate}">
          </div>
          <div>
            <button type="submit">Test erstellen</button>
          </div>
        </form>
    </div>
  </div>
</div>
</body>
</html>
