<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Testerstellung</title>
  <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet"
        th:href="@{/css/bootstrap/bootstrap.min.css}">
  <style>
    td, th {
      text-align: center;
      vertical-align: middle;
    }
  </style>
</head>
<body>
<h1 class="text-center">Erstellung eines neuen Tests</h1>
<div class="container">
  <div class="row">
    <div class="col">
        <form method="post" th:action="@{/ExamByte/testerstellung}" th:object="${testForm}">
          <div>
            <label class="form-label" for="name">Name</label>
            <input type="text" id="name"
                   th:field="*{name}">
            <br>
            <small class="text-danger"
                   th:if="${#fields.hasErrors('name')}"
                   th:errors="*{name}">Name Error</small>
          </div>
          <div>
            <label class="form-label" for="anfangsZeit">Beginn</label>
            <input class="form-control" type="datetime-local" id="anfangsZeit"
                   th:field="*{startTime}">
            <small class="text-danger"
                   th:if="${#fields.hasErrors('startTime')}"
                   th:errors="*{startTime}">StartTime Error</small>
          </div>
          <div>
            <label class="form-label" for="endZeit">Ende</label>
            <input class="form-control" type="datetime-local" id="endZeit"
                   th:field="*{endTime}">
            <small class="text-danger"
                   th:if="${#fields.hasErrors('endTime')}"
                   th:errors="*{endTime}">EndTime Error</small>
          </div>
          <div>
            <button class="btn-primary btn" type="submit">Test erstellen</button>
          </div>
        </form>
    </div>
  </div>
  <div class="row">
    <a href="/ExamByte">Startseite</a>
  </div>
</div>
</body>
</html>
