<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ExamByte</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{css/bootstrap.min.css}">
</head>
<body>
<div class="container pt-3">
    <h1 class="text-center">
        ExamByte
    </h1>
    <a href="/testerstellung">Test hinzufügen</a>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Test</th>
                <th>Startzeitpunkt</th>
                <th>Endzeitpunkt</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th><a href="/woche1">Woche1</a></th>
                <th>29.10.2023 08:00</th>
                <th>29.10.2023 18:00</th>
                <th>In bearbeitung</th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>