<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragenuebersicht</title>
    <link href="../static/css/bootstrap/bootstrap.min.css" rel="stylesheet"
          th:href="@{/css/bootstrap/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <h1 th:text="${test.name}">Test...</h1>
        <p>Der Test lässt sich noch bis zum <span th:text="${#temporals.format(test.startTime, 'dd.MM.yyyy HH:mm')}">dd.MM.yyyy</span> bearbeiten.</p>
        <div class="col">
            <div class="text-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Frage</th>
                        <th>Fragenart</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                    <tr th:each="frageAusList : ${test.getFragen()}">
                        <td><a th:href="@{/ExamByte/{name}/{frageAusListName}(name=${test.name}, frageAusListName=${frageAusList.name})}" th:text="${frageAusList.name}">Frage 1</a></td>
                        <td th:text="${frageAusList.fragentyp().getTitle()}">Freitext</td>
                        <td>In bearbeitung</td>
                    </tr>
                    <tr>
                        <td><a href="/woche1/frage2">Frage 2</a></td>
                        <td>Multiple Choice</td>
                        <td>In bearbeitung</td>
                    </tr>
                    </tbody>
                </table>
                <a class="btn-primary btn" th:href="@{/ExamByte/{testname}/fragenerstellung(testname=${test.name})}">Frage hinzufügen</a>
            </div>
        </div>
        <div class="col" th:unless="${test.getFragen().isEmpty()}">
            <div th:if="${frage.fragentyp().getTitle()} == 'Freitext'">
                <h1 th:text="${frage.name} ?: 'Keine Daten Vorhanden!'">Fragenname(Frage 1)</h1>
                <p th:text="${frage.fragestellung} ?: 'Keine Daten Vorhanden!'">Hier sollte die Frage stehen</p>
                <p th:text="'Mögliche Punktzahl: ' + ${frage.maxPunktzahl} ?: 'Keine Daten Vorhanden!'">Mögliche Punkte 10</p>
                <form>
                    <label for="antwort">Antwort:</label><br>
                    <textarea id="antwort" name="antwort" rows="4" cols="50" placeholder="Deine Antwort hier eingeben"></textarea>
                    <input type="submit" value="Antworten">
                </form>
            </div>
            <div th:if="${frage.fragentyp().getTitle()} == 'Multiple Choice'">
                <h1 th:text="${frage.name} ?: 'Keine Daten Vorhanden!'">Fragenname(Frage 1)</h1>
                <p th:text="${frage.fragestellung} ?: 'Keine Daten Vorhanden!'">Hier sollte die Frage stehen</p>
                <p th:text="'Mögliche Punktzahl: ' + ${frage.maxPunktzahl} ?: 'Keine Daten Vorhanden!'">Mögliche Punkte 4</p>
                <form>  <!--anstelle von multiple choice single choice benötigt type="radio" -->
                    <div th:each="antwort : ${frage.antwortMoeglichkeiten()}">
                        <label th:text="${antwort.text()}" for="antwort1">antwort1</label>
                        <input type="checkbox" id="antwort1" name="frage" value="antwort1">
                        <br>
                    </div>
                    <input type="submit" value="Antworten">
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <a th:unless="${test.getFragen().isEmpty()}" th:href="@{/ExamByte/{name}/{prevFrage}(name=${test.name}, prevFrage=${test.getPrevFrage(frage.name()).name()})}">Vorherige Frage</a>
            <a href="/ExamByte">Startseite</a>
            <a th:unless="${test.getFragen().isEmpty()}" th:href="@{/ExamByte/{name}/{nextFrage}(name=${test.name}, nextFrage=${test.getNextFrage(frage.name()).name()})}">Nächste Frage</a>
        </div>
    </div>
</div>
</body>
</html>