<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>fragenuebersicht</title>
    <link href="../../static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="column">
            <h1>Fragenübersicht</h1>
            <p>Bearbeitung bis: xy möglich</p>

            <p>Dieser Test wurde bereits bewertet!</p>
            <table>
                <tr>
                    <th>Fragen</th>

                </tr>
                <tr>
                    <td><a href="/woche1/frage1">Frage 1</a></td>
                </tr>
                <tr>
                    <td><a href="/woche1/frage2">Frage 2</a></td>
                </tr>
                <tr>
                    <td><a href="/woche1/frage3">Frage 3</a></td>
                </tr>
            </table>
        </div>
        <div class="column">
            <h2>Frage die beantwortet werden soll</h2>
            <input type="text">
        </div>
    </div>
</div>
<a href="/woche1/1">Letzte Frage</a>
<a href="/">Startseite</a>
<a href="/woche1/3">Nächste Frage</a>

</body>
</html>