<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
    <table>
      <tr>
        <thead>Typ</thead>
        <thead>Konfiguration</thead>
      </tr>
      <tr>
        <td>Multiple Choice</td>
        <td>Freitext</td>
      </tr>
      <tr>
        <td>Antwort 1<input type="text"></td>
        <td>
          <form>
            <label for="antwort">Antwort:</label><br>
            <textarea id="antwort" name="antwort" rows="6" cols="60" placeholder="Deine Antwort"></textarea>
            <input type="submit" value="antworten">
          </form>
        </td>
      </tr>
      <tr>
        <td>Antwort 2<input type="text"></td>
      </tr>
    </table>
    <a href="/">Zurück zur Startseite</a>

</body>
</html>