<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>wochenuebersicht</title>
    <link rel="stylesheet" href="/bootstrap.min.css">
</head>
<body>
<h1>Wochenüebersicht</h1>
    <a href="/testHinzufügen">Test hinzufügen</a>
    <table>
        <tr>
            <th>Test</th>
            <th>Zulassungsstatus</th>
        </tr>
        <tr>
            <td><a href="/woche1/1">Wochentest 1</a></td>
            <td>Bestanden 100%</td>
        </tr>
        <tr>
            <td><a href="/woche2/2">Wochentest 2</a></td>
            <td>Bestanden 92.3%</td>
        </tr>
        <tr>
            <td><a href="/woche3/3">Wochentest 3</a></td>
            <td>Bestanden 42%</td>
        </tr>
    </table>
</body>
</html>